@model LibraryManagementSystem.Models.BookRequestModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BookRequestModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RequestId" />
            <div class="form-group">
                <label asp-for="BookTitle" class="control-label"></label>
                <input asp-for="BookTitle" class="form-control" readonly/>
                <span asp-validation-for="BookTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" readonly></input>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" readonly/>
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Publication" class="control-label"></label>
                <input asp-for="Publication" class="form-control" readonly/>
                <span asp-validation-for="Publication" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookEdition" class="control-label"></label>
                <input asp-for="BookEdition" class="form-control" />
                <span asp-validation-for="BookEdition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RackNo" class="control-label"></label>
                <input asp-for="RackNo" class="form-control" />
                <span asp-validation-for="RackNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoverId" class="control-label"></label>
                <input asp-for="CoverId" class="form-control" hidden"/>
                <span asp-validation-for="CoverId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAdded" /> @Html.DisplayNameFor(model => model.IsAdded)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
