@model LibraryManagementSystem.Models.ReservationDetails

@{
    ViewData["Title"] = "Create";
}
<div class="row">
    <div class="col-2">
        <a class="btn btn-outline-secondary" asp-controller="BookDetails" asp-action="Index">Back to List</a>
    </div>
    <div class="col-6">
        <h4 style="text-align:center">Add Reservation</h4>

    </div>
</div>
<hr />
<div class="row justify-content-between">

    <div class="col-md-4 ">
        @{
            string src = "https://covers.openlibrary.org/b/id/" + @ViewBag.BookData.CoverId.ToString() + "-M.jpg";
        }
        <div class="card-img-top book-cover-2" style="background-image: url(@src)"></div>
        <div class="card-body">
            <h5 class="card-title book-title">@ViewBag.BookData.BookTitle</h5>
            <p class="card-text book-author">@ViewBag.BookData.Author</p>
        </div>
    </div>
    <div class="col-md-4">
        <form asp-action="Create">
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
            <div class="form-group">
                <label asp-for="ReservedDate" class="control-label"></label>
                <input asp-for="ReservedDate" id="datepicker" type="text" class="form-control" required />
                @*<span asp-validation-for="ReservedDate" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                @*TODO add date validation *@
                <label asp-for="ReturnDate" class="control-label"></label>
                <input asp-for="ReturnDate" id="returnDate" class="form-control" type="text" class="" />
                <span asp-validation-for="ReturnDate" class="text-danger"></span>
            </div>
            <br />
            <p>
                Note:
                <br />
                <ul>
                    <li>You must return the book within the returned date</li>
                    <li>Fine of RS.5 will be added for each day</li>
                    <li>Librarian may reject your reservation request if required</li>

                </ul>
            </p>
            <div class="row form-group justify-content-center">
                <input type="submit" value="Create" class="btn btn-secondary col-4 " />
            </div>
        </form>
    </div>
</div>

@section Scripts
    {
    <script>
        $(function () {
            $("#returnDate").datepicker({
                dateFormat: "yy-mm-dd",
                onSelect: function () {
                    var dateObject = $(this).datepicker('getDate');
                    console.log(dateObject)
                }
            });
            $("#datepicker").datepicker({
                minDate: 0,
                dateFormat: "yy-mm-dd",
                onSelect: function () {
                    var dateObject = $(this).datepicker('getDate');
                    dateObject.setDate(dateObject.getDate() + 15)
                    console.log(dateObject)
                }
            });

        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
