@model LibraryManagementSystem.Models.ReservationDetails

@{
    ViewData["Title"] = "Create";
}
<h1>Create</h1>

<h4>ReservationDetails</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
            <div class="form-group">
                <label asp-for="ReservedDate" class="control-label"></label>
                <input asp-for="ReservedDate" id="datepicker" type="text" class="form-control" required />
                @*<span asp-validation-for="ReservedDate" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                @*TODO add date validation *@
                <label asp-for="ReturnDate" class="control-label"></label>
                <input asp-for="ReturnDate" class="form-control" />
                <span asp-validation-for="ReturnDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts
    {
    <script>
        $(function () {
            $("#returnDate").datepicker({
                maxDate: 15
            });
            $("#datepicker").datepicker({
                minDate: 0,
                onSelect: function () {
                    var dateObject = $(this).datepicker('getDate');
                    dateObject.setDate(dateObject.getDate() + 15)
                    console.log(dateObject)
                    $("#returnDate").datepicker({
                        maxDate: dateObject
                    });
                }
            });

        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
