@model LibraryManagementSystem.Models.ReservationDetails

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<h4>ReservationDetails</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="View">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ReservedDate" class="control-label"></label>
                <input asp-for="ReservedDate" class="form-control" />
                <span asp-validation-for="ReservedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IssuedDate" class="control-label"></label>
                <input asp-for="IssuedDate" class="form-control" />
                <span asp-validation-for="IssuedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReturnDate" class="control-label"></label>
                <input asp-for="ReturnDate" class="form-control" />
                <span asp-validation-for="ReturnDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReturnedDate" class="control-label"></label>
                <input asp-for="ReturnedDate" class="form-control" />
                <span asp-validation-for="ReturnedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReservationStatus" class="control-label"></label>
                <select asp-for="ReservationStatus" class="form-control"></select>
                <span asp-validation-for="ReservationStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
