@model LibraryManagementSystem.Models.FineDetails

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>FineDetails</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FineId" />
            <div class="form-group">
                <label class="control-label">Book name</label>
                <input asp-for="Reservation.Book.BookTitle" class="form-control" readonly/>
            </div>
            <div class="form-group">
                <label class="control-label">UserName</label>
                <input asp-for="Reservation.ReservedUser.UserName" class="form-control" readonly/>
            </div>
            <div class="form-group">
                <label class="control-label">ReturnDate</label>
                <input asp-for="Reservation.ReturnDate" class="form-control" readonly/>
            </div>
            <div class="form-group">
                <label class="control-label">Returned On</label>
                <input asp-for="Reservation.ReturnedDate" class="form-control" readonly/>
            </div>
            <div class="form-group">
                <label asp-for="FineAmount" class="control-label"></label>
                <input asp-for="FineAmount" class="form-control" readonly/>
                <span asp-validation-for="FineAmount" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Paid" />  Confirm the payment       </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Proceed" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
